.client__title {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.client__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.client__item {
               
        @media screen and (min-width: 480px) {
            width: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: 768px) {
            width: calc((100% - 60px) / 3);
        }

        @media screen and (min-width: 1200px) {
            width: 170px;
        }
    }

.client__link {
    width: auto;
    height: 92px;
    display: flex;
    fill: var(--not-active-icon-color);
    align-items: center;
    justify-content: center;
    border: #AFB1B8 1px solid;
    border-radius: 4px;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier-primary);
        &:hover,
        &:focus {
            fill: var(--active-text-color);
            border-color: var(--active-text-color);
        }
    
    
    @media screen and (min-width: 1200px) {
        width: 170px;
            
    }

    
}

