.footer-bg {
    background-color: #2F303A;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    & .logo-web {
        color: var(--active-text-color);
    }

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
    }
}

.footer__logo-contacts-box {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: 61px;
        margin-bottom: 60px;
        }
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-bottom: 60px;
   
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        align-items: flex-start;
    }
}

.footer__contact {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition:color 250ms var(--cubic-bezier-primary);
        &:hover,
        &:focus {
            color: var(--active-text-color);
        }
    }

.adress-color {
    color: #ffffff;
}

.footer-soc-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    
    @media screen and (min-width: 768px) and (max-width:1199px){
        
        margin-left: auto;
        margin-right: 74px;        
    }

    @media screen and (min-width: 1200px) {
        align-items: flex-start;
        margin-left: 70px;
        margin-bottom: 0px;
        
    }
}

.footer-soc-links__link {
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    border-radius: 50%;
    transition: background-color 250ms var(--cubic-bezier-primary);
        &:hover,
        &:focus {
            background-color: var(--active-text-color);
        }
}

.footer-soc-links__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-soc-links__list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-email {
    display: flex;
    flex-direction: column;
    align-items: center;
        
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
        align-items: flex-start;
        margin-left: auto;
    }
}

.footer-email__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        
    }

}

.footer-email__join {
    display: flex;
    
    @media screen and (max-width: 1199px) {
        flex-direction: column; 
        align-items: center;
    }
        
}

.footer-email__input {
    background-color: #2F303A;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 16px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }   

    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-bottom: 0px;
    }
}

.footer-email__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    color: #ffffff;
    background-color: var(--active-text-color);
    border: 1px solid var(--active-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
        margin-left: 12px;
       }
}

.footer-email__button-join-icon {
    padding-left: 12px;
}