.header {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        padding: 15px 16px;
    }
}

.header__border {
    border-bottom:    1px solid #ECECEC;
}

.header__navigation {
    display: flex;
    align-items: center;    
}

.header__navigation-item:not(:last-child) {
    margin-right: 50px;
}

.header__logo {
    font-family: 'Raleway';
    padding-top: 24px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.03em;
    }
}

.header__logo-web {
    color: var(--active-text-color);
}

.header__logo-studio {
    color: #000000;
}

.header__navigation-list {
    display: flex;
    margin-left: 93px;
    & .current.link{
        color: var(--active-text-color);
        }
    @media screen and (max-width: 767px) {
        display: none;
    }

    & .link {
        color: #212121;
        padding: 32px 0;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition: color 250ms var(--cubic-bezier-primary);
            &:hover,
            &:focus {
            color: var(--active-text-color);
        }
    }
    
}

.active {
    position: relative;
    &.current::after {
        content: "";
        position: absolute;
        bottom: 0px;
        
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--active-text-color);
        border-radius: 4px;
}
}

.header__contacts {
    display: flex;
    margin-left: auto;
    
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
        gap: 10px;
    }
}

.header__contacts-link {
        margin-left: auto;
        display: flex;
        align-items: center;

        color: var(--secondary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--cubic-bezier-primary);
            &:hover,
            &:focus {
                color: var(--active-text-color);
         }

        @media screen and (max-width: 767px) {
            display: none;
        }
        @media screen and (min-width: 1200px) {
            padding: 32px 0px;
        }
    
}
    
.header__contacts-item:not(:last-child) {
                
        @media screen and (min-width: 1200px) {
            margin-right: 50px;
        }
    }

.header__contacts-icons {
    fill: currentColor;
    margin-right: 10px;
}

// Mobile-menu

.menu-open-btn {
    margin-left: auto;
    
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-close-btn {
    display: block;
    margin-left: auto;
}

.mobile-menu {
    display: none;
}

.mobile-menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mob-nav__item {
    display: block;
    &:not(:last-child) {
            padding-bottom: 32px;
        }
}

.mob-nav__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 40px;    
    line-height: 1.18;
    letter-spacing: 0.02em;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier-primary);
        &:hover,
        &:focus {
                color: var(--active-text-color);
        }
}

.mob-menu-tel {
    padding-bottom: 32px;
}

.mob-menu-tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--active-text-color);
    margin-bottom: 32px;
}

.mob-menu-email {
    padding-bottom: 64px;
}

.mob-menu-email-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.mob-soc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.mob-soc-item {
    &:not(:first-child)::after {
        position: absolute;
        display: block;
        content: "";
        width: 1px;
        height: 22px;
        background-color: var(--secondary-text-color);
        top: -1px;  
        
    }
}

.mob-soc-link {
    color: var(--active-text-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    
}

