/* Hero styles */

.hero {
    width: auto;
    margin: 0 auto;
    max-width: 1600px;
    max-height: 600px;
    text-align: center;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    @media screen and (min-width: 480px) {
        width: 480px;
        height: 400px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        height: 400px;
    }

    @media screen and (min-width: 1600px) {
        width: 1600px;
        height: 600px;
    }
}
    
.hero__title {
    margin: 0 auto 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__btn {
    padding: 10px 24px;
    background-color: #2196F3;
    color: #ffffff;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: 1px solid #000000;
    border-radius: 4px;
}