.our-work {
    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.our-work__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.our-work__item {
    width: calc(100% - 60px) / 3;
}

.our-work__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-work__img-box {
    display: flex;
    position: relative;
}

.our-work__label {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}