.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    & .item:not(:last-child) {
        margin-right: 8px;
    }
    
    @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
}

.filter__btn {
    padding: 6px 22px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier-primary);
    &:hover,
    &:focus {
        background-color: var(--active-text-color);
        color: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
