.skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    @media screen and (min-width: 1200px) {
            justify-content: center;
        }
}

.skills__item {
    width: 100%;
   
    @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
        }

    @media screen and (min-width: 1200px) {
            width: 270px;
        }
 }


.skills__icon {
    margin-bottom: 30px;
    display: flex;
    width: auto;
    height: 120px;
    background-color: var(--secondary-page-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;

}

.skills__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    @media screen and (max-width: 767px) {
        text-align: center;
    }
    
}

.skills__about {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}