.our-team_bg {
    background-color: var(--secondary-page-color);
}

.our-team__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    
        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;
    }
}

.our-team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 1200px) {
        justify-content: center;
    }
}

.our-team__item {
        width: 450px;
        
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px) / 2);
    }
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
}

.our-team__member {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: var(--primary-page-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.our-team__about {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.our-team__soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-team__soc-items {
    width: 44px;
    height: 44px;
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.our-team__soc-link {
    fill: var(--not-active-icon-color);
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier-primary);
        &:hover,
        &:focus {
            fill: #ffffff;
            background-color: var(--active-text-color);
            }
}



