:root {
    --primary-page-color: #ffffff;
    --secondary-page-color: #F5F4FA;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --active-text-color: #2196F3;
    --not-active-icon-color: #AFB1B8;
    --overlay-project-color: rgba(33, 150, 243, 0.9);
    --cubic-bezier-primary: cubic-bezier(0.4, 0, 0.2, 1);
}